body {
  background-image: url("../img/thunder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  margin: 30px;
  text-align: center;
  justify-content: space-between;
  background-color: rgba(166, 255, 82, 0.8);
}

h2 {
  background-color: rgba(34, 253, 147, 0.6);
  width: 40%;
}

#star-menu {
  width: 30px;
  height: 30px;
}

.popup_container {
  position: relative
}

#boutonGO {
  background-color: rgba(0, 194, 255, 0.75);
  cursor: pointer;
}

.afficherPopup {
  background-color: rgba(0, 194, 255, 0.75);
  padding: 1em 2em;
  font-size: 12px;
  color: 003B4E;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
}

.afficherPopup:hover {
  background-color: rgba(0, 194, 255, 0.5);
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.popup {
  display: flex;
  flex-direction: row;
  margin: 20% auto;
  width: 70%;
  height: 30px;
  background-color: rgba(0, 194, 255, 0.5);
  border-radius: 5px;
  box-shadow: 10px 10px 10px black;
  padding: 1em;
  padding-top: 3em;
}

.fermerPopup {
  position: absolute;
  top: 60px;
  right: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: gray;
}

.bordureSearch {
  width: 250px;
  border-radius: 10px;
  border: 2px solid rgb(99, 97, 97)
}

.paddingSearch {
  padding-left: 10px;
}

.recherche {
  height: 30px;
  width: 180px;
  font-size: 12px;
  border-radius: 10px 0 0 10px;
}

.bordureNone {
  border: none;
}

.buttonSearch {
  height: 30px;
  width: 80px;
  border-radius: 0 10px 10px 0;
}

.bar {
  font-size: 16px;
  margin: 50px;
  text-align: center;
  justify-content: center;
}

.search-bar {
  background-color: aqua;
  text-align: center;
  justify-content: center;
}

.now {
  margin: 20px;
  padding: 20px;
  border: 1px black solid;
  background-color: rgba(79, 196, 255, 0.6);
}

.ville {
  display: flex;
  margin: 20px;
  font-size: 20px;
  justify-content: space-between;
}

#main_jour {
  display: flex;
  margin: 20px;
}

#temps_jour {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

.iconBig {
  width: 5em;
  height: auto;
}

#info_jour {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#temperature {
  font-size: 20px;
  margin: 30px 0px;
}

#mini_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

#soleil_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: center;
}

#today {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 2px;
  margin: 10px;
  padding: 10px;
  border: 1px black solid;
  background-color: rgba(79, 208, 255, 0.7);
}

#demain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 2px;
  margin: 10px;
  padding: 10px;
  border: 1px black solid;
  background-color: rgba(79, 149, 255, 0.8);
}

.flex_little {
  margin: 5px;
  justify-content: center;
  text-align: center;
}

.iconLittle {
  width: 2em;
  height: auto;
}