body {
  background-image: url("../img/thunder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  margin: 30px;
  text-align: center;
  justify-content: space-between;
  background-color: rgba(166, 255, 82, 0.8);
}

h2 {
  background-color: rgba(34, 253, 147, 0.6);
  width: 40%;
}

#star-menu {
  width: 30px;
  height: 30px;
}

.popup_container {
  position: relative
}

#popupInput {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popup input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#boutonGo {
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
}

.bar {
  font-size: 16px;
  margin: 50px;
  text-align: center;
  justify-content: center;
}

.search-bar {
  background-color: aqua;
  text-align: center;
  justify-content: center;
}

.now {
  margin: 20px;
  padding: 20px;
  border: 1px black solid;
  background-color: rgba(79, 196, 255, 0.6);
}

.ville {
  display: flex;
  margin: 20px;
  font-size: 20px;
  justify-content: space-between;
}

#main_jour {
  display: flex;
  margin: 20px;
}

#temps_jour {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

#weatherIconBig {
  width: 5em;
  height: auto;
}

#info_jour {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#temperature {
  font-size: 20px;
  margin: 30px 0px;
}

#mini_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

#soleil_info {
  display: grid;
  grid-template-columns: 9em 3em;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: center;
}

#today {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 2px;
  margin: 10px;
  padding: 10px;
  border: 1px black solid;
  background-color: rgba(79, 208, 255, 0.7);
}

#demain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 2px;
  margin: 10px;
  padding: 10px;
  border: 1px black solid;
  background-color: rgba(79, 149, 255, 0.8);
}

.flex_little {
  margin: 5px;
  justify-content: center;
  text-align: center;
}

#weatherIconLittle {
  width: 2em;
  height: auto;
}