body {
  background-image: url("/Projet-Meteo/img/cloud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  margin: 30px;
  text-align: center;
  justify-content: space-between;
}

#star-menu {
  width: 30px;
}

.bar {
  font-size: 16px;
  margin: 50px;
  text-align: center;
  justify-content: center;
}

.search-bar {
  background-color: aqua;
  text-align: center;
  justify-content: center;
}

.today {
  display: flex;
  margin: 40px;
  padding: 80px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  border: 1px black solid;
}